<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="cf-2fa-verify" content="633801c652d049f">

<link rel="shortcut icon" href="/favicon.ico?v={{ build_version }}">
<link rel="icon" type="image/svg+xml" sizes="any" href="/res/icon/icon.svg?v={{ build_version }}">
<link rel="apple-touch-icon" href="/res/icon/icon-256.png?v={{ build_version }}">
<link href="https://fonts.googleapis.com/css?family=Merriweather:300|Raleway:400,700" rel="stylesheet">
<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
<title>{{ page.title | default: site.title }}</title>
{% seo %}
